select{
    margin: 10px 0px;
    width: 80%;  
    
  }

.currentlyWorkingWith {
    background-color: red;
}
  #mainCats #subCat {
      display: block;
  }

  #textEditions {
    display: none;
    width: 80%;
    height: 80px;
    border: 1px solid black;
    background-color: red;
  }